@import './base.css';

@font-face {
  font-family: 'font-padrao-bold-italic';
  src: ('../fonts/humnst777_bt/Humnst777BTBoldItalic.ttf');
}

#font-padrao-bold-italic{
  font-family: 'font-padrao-bold-italic';
}

